@model IEnumerable<RepDepInjAndPartialView.Models.ProductList>
@*@model IEnumerable<RepDepInjAndPartialView.Models.ProductsViewModel>*@

@{ ViewData["Title"] = "Products"; }

<h1>Products</h1>


@foreach (var item in Model)
{
@await Html.PartialAsync("_ProductCarourselPartial", item);
}




@*@foreach (var product in item.BestSellers)
    {@await Html.PartialAsync("_ProductPV", product)*}
    @foreach (var product in item.News)
    { @await Html.PartialAsync("_ProductPV", product)}*@
